.cardProducto{
    /* border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: gray; */
    width: 200px;
    margin: 5px;
}

.texto{
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
    margin-top: 20px;
}

h3{
    margin-top: 20px;
}

#ingresar{
    margin-bottom: 20px;
}